<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <property name="LOG_HOME" value="/pixel/logs"/>

    <property name="SQL_LOGFILE" value="sql"/>

    <property name="MAX_HISTORY" value="180"/>
    <property name="MAX_FILE_SIZE" value="1GB"/>
    <property name="LOG_TOTAL_SIZE" value="30GB"/>


    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="SQL_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/${SQL_LOGFILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_HOME}/${SQL_LOGFILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${LOG_TOTAL_SIZE}</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- Logger -->
    <logger name="com.pixel" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="SQL_FILE"/>
    </logger>

    <logger name="jdbc.sqlonly" level="debug" additivity="false">
        <appender-ref ref="SQL_FILE"/>
    </logger>

    <logger name="jdbc.resultsettable" level="debug" additivity="false">
        <appender-ref ref="SQL_FILE"/>
    </logger>

    <!-- Root Logger -->
    <root level="off">
        <appender-ref ref="console"/>
    </root>
</configuration>